<div class='addedTasks'>
    <h2 class="mb-3 mt-3">Added Planet:</h2>
    <div class="input-group mb-3 ">
        <input class="form-control addedTasks__field" type="text" [(ngModel)]="newPlanet">
        <div class="input-group-append">
            <button class="btn btn-outline-light addedTasks__btn" type="button" (click)="add()">Add</button>
        </div>
    </div>


    <!-- <form>
        <button type="submit">Add</button>
        <button type="button">Add more</button>
    </form> -->
</div>
