.addedTasks {
    h2 {
        text-align: center;
        font-size: 4rem;
        text-transform: uppercase;
        color: #140905;
        text-shadow: -2px 2px 1px #FFFFFF;
    }

    &__field {
        background: rgba(255,255,255, .3);
        color: wheat;
        border: none;
    }

    &__btn {
        border: 1px solid rgba(255,255,255, .3);
    }
}
