<header class="header" role="banner">
    <div class="container-fluid">
        <div class="row">
            <input class="header__switchHide" type="checkbox" id="close">

            <div class="header__content">
                <!-- Header Left -->
                <div class="col-12 col-lg-4 header__contentLeft">

                    <label for="close" class="header__triggerMenu">
                        <span class="header__triggerMenu--line" *ngFor="let i of [0, 1 , 2]"></span>
                    </label>

                    <div class="header__logo">
                        <img class="img-responsive header__logo--img" [src]="logoUrl" [alt]="'picture ' + logoTitle">
                        <a href="/" class="header__logo--href">
                            <h1 class="header__logo--title" class="header__logo--title">{{logoTitle}}</h1>
                        </a>
                    </div>

                </div>
                <!-- //Header Left -->

                <!-- Header Right -->
                <div class="col-12 col-lg-8 header__contentRight">
                    <nav class="header__contentRightNavigation">
                        <a routerLink="/planets" routerLinkActive="header__contentRightNavigation--active" class="header__contentRightNavigation--link">List of Planets</a>
                        <a routerLink="/taskplanets" routerLinkActive="header__contentRightNavigation--active" class="header__contentRightNavigation--link">Task Planets</a>
                        <a routerLink="/contact" routerLinkActive="header__contentRightNavigation--active" class="header__contentRightNavigation--link">Contact</a>
                    </nav>

                </div>
                <!-- //Header Right -->
            </div>


        </div>
    </div>
</header>

