@import '../../scss/_mixins.scss';
@import '../../scss/_vars.scss';
.header {
    @include fixed;
    height: 100px;
    background: #572014;
    box-shadow: 1px 1px 10px 0px $black;
    @media (min-width: 992px) {
        position: relative;
        background: rgba(255, 255, 255, .3);
    }
    &__switchHide {
        display: none;
        &:checked+.header__content {
            .header__triggerMenu--line {
                background: #CCCCCC;
                position: relative;
                margin-bottom: 10px;
                &:first-child {
                    transform: rotate(45deg);
                    top: 12px;
                }
                &:nth-child(2) {
                    width: 0;
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: -16px;
                }
            }
            .header__contentRight {
                border-top: 2px solid $black;
                transform: translate3d(0, 0, 0);
            }
        }
    }
    &__contentRight {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 300%;
        top: 10rem;
        background: #572014;
        box-shadow: -1px 2px 1px 0px #ffc107;
        transition: $baseTrans;
        transform: translate3d(-100%, 0, 0);
        @media (min-width: 992px) {
            position: initial;
            box-shadow: none;
            background: none;
            height: auto;
            transform: translate3d(0, 0, 0);
        }
    }
}

.header__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    @media screen and (min-width: 992px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.header__logo {
    &--img {
        display: none;
        animation: rotate 3s infinite linear;
        background: $white;
        border-radius: 100%;
        border: 13px solid #fdf5e2;
        box-shadow: 1px 1px 16px 0px $white;
        max-width: 100px;
        position: absolute;
        top: 9px;
        left: 0;
        z-index: 0;
        @media screen and (min-width: 992px) {
            left: 300px;
            display: inline-block;
        }
    }
    &--title {
        font-size: 3rem;
        @media screen and (min-width: 992px) {
            font-size: 4rem;
        }
    }
    &--href {
        display: inline-block;
        text-transform: uppercase;
        color: #ffd79a;
        text-shadow: 1px 1px 9px $black;
        text-decoration: none;
        transition: $baseTrans;
        margin: 3rem 0 0 1rem;
        @media (min-width: 992px) {
            margin: 0 0 0 1rem;
        }
        &:focus,
        &:hover,
        &:active {
            color: #c91818;
        }
    }
}

.header__contentRightNavigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    @media screen and (min-width: 992px) {
        justify-content: space-evenly;
        align-items: baseline;
        flex-direction: row;
    }
    &--link {
        font-size: 2rem;
        color: wheat;
        text-shadow: 1px 1px 1px $black;
        text-transform: uppercase;
        text-decoration: none;
        transition: $baseTrans;
        padding: 2rem 0;
        &:focus,
        &:hover,
        &:active {
            color: #c91818;
        }
    }
    &--active {
        color: #c91818;
    }
}

.header__triggerMenu {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    transition: $baseTrans;
    margin: 4rem 3rem 0 0;
    &--line {
        background: wheat;
        display: block;
        width: 30px;
        height: 4px;
        margin-bottom: 6px;
        position: relative;
        top: 0;
        transition: all ease-in-out .4s;
    }
    @media (min-width: 992px) {
        display: none;
    }
}
