<ng-container *ngIf="planetLists.length > 0; else noPlanets">
    <p class="todoList__title" [ngStyle]="{color: getColor()}">Planets To Do: {{planetLists.length}}</p>

    <ul class="list-group">
        <li [date]="planet.created" appDate class="list-group-item list-group-item-action" *ngFor="let planet of planetLists | sortPlanet">
            {{planet.name | transformPlanet: ' !' }}
            <div class="btn-group float-right">
                <button class="btn btn-danger" (click)="remove(planet)" type="button">Delete</button>
                <button class="btn btn-success" (click)="done(planet)" type="button">Done</button>
            </div>
        </li>
    </ul>
</ng-container>

<ng-template #noPlanets>
    <p class="todoList__empty">Lack a planets, You must free time !</p>
</ng-template>
