.list-group-item {
    background: rgba(255, 255, 255, .3);
    color: #FFFFFF;
    text-shadow: 1px 1px 3px #000;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:focus,
    &:hover,
    &:active {
        background: rgba(0, 0, 0, .3);
    }
}

.badge {
    margin-right: 1rem;
    margin: .8rem 1rem 0 0;
    display: inline-block;
}

.todoList {
    &__title,
    &__empty {
        text-align: center;
    }

    &__title {
        text-shadow: -1px -1px 3px #000;
        font-size: 3rem;
    }

    &__empty {
        color: #1cc81c;
        text-shadow: -1px -1px 3px #000;
        font-size: 3rem;
    }
}
