.doneList {
    &__title {
        text-align: center;
        font-size: 3rem;
        text-shadow: -1px -1px 3px #000000;
    }
    &__list {
        &--item {
            background: rgba(90, 33, 21, 0.4);
            color: wheat;
            text-shadow: 0px 1px 3px;
            padding: 0.75rem 1.25rem;
            margin-bottom: -1px;
            margin-left: 4rem;
        }
    }
}
