<p class="text-info doneList__title">Done list of Planets: {{planetsDone.length}}</p>
<ul class="list-group doneList__list">
    <li appChecked appDate [date]="planet.edited" class="doneList__list--item" *ngFor="let planet of planetsDone">
        {{planet.name | transformPlanet: ' - super !'}}
    </li>
</ul>
