.contact {
    padding: 7rem 0 0;
    @media screen and (min-width: 992px){
        padding: 23rem 0 0;
    }

    &__title {
        text-align: center;
        font-size: 4rem;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #000000;
    }

    &__row {
        padding: 4rem 0 0;
    }

    &__socials {
        text-align: center;
        margin: 2rem 0;
        &--url {
            display: inline-block;
            border-radius: 50%;
            box-shadow: 1px 1px 50px 0px rgb(254, 242, 216);
            transition: all .3s ease-in-out;
            &:focus,
            &:hover,
            &:active {
                box-shadow: 1px 1px 50px 0px rgba(22, 18, 1, 0.774);
            }
        }
    }
}
