<section class="contact mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact__title">Contact with me:</h2>
                <div class="row contact__row">
                    <div class="offset-lg-1 col-lg-3" *ngFor="let social of socials">
                        <figure class="contact__socials">
                            <p class="contact__socials--heading">{{social.name}}</p>
                            <a class="contact__socials--url" [href]="social.url">
                                <img [src]="social.img" alt="social icon">
                            </a>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
