.listPlanets {

    &__row {
        background: rgba(0,0,0,.3);

        th {
            color: #000000;
        }

        td {
            color: #ffc107;
            text-shadow: -1px -1px 16px #fff;
        }
    }

    &__thead {
        th {
            text-shadow: -1px -1px 1px #000000;
        }
    }

    &__btn {
        border-radius: 0;
        background: #ffd79a;
        color: #000000;
        text-shadow: 1px 1px 1px #000000;
        text-transform: uppercase;
        border: 1px solid transparent;
        transition: border .3s ease-in-out;
        &:focus,
        &:hover,
        &:active {
            border: 1px solid #000000;
        }
    }

    &__form {
        justify-content: center;
    }

    &__search {
        padding: 2rem 0;

        &--input {
            margin: 0 auto;
            background: rgba(0,0,0,.3);
            border: none;
            color: #FFFFFF;
            border-radius: 0;
        }

        &--btn {
            border: none;
            background: #000000;
            border-radius: 0;
        }
    }
}

