<div class="mt-3 text-center listPlanets__search">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form-inline listPlanets__form">
        <div class="form-group">
            <input (keyup)="onSubmit()" type="search" class="form-control listPlanets__search--input" formControlName="search">
            <button class="btn btn-primary listPlanets__search--btn" type="submit">Search</button>
        </div>
    </form>

    <div class="text-center mt-4">
        <p class="lead" *ngIf="count === 0">No results returned</p>
        <p class="lead" *ngIf="contactForm.get('search').invalid">Enter a search string above and press search</p>
    </div>


    <div class="text-center mt-4" *ngIf="searchResults" [hidden]="count === 0">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark listPlanets__thead">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Created</th>
                        <th scope="col">Climat</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let planet of searchResults | paginate: {itemsPerPage:5, currentPage: p}; let i = index" class="listPlanets__row">
                        <th scope="row"> {{i + 1}}. </th>
                        <td> {{planet.name}} </td>
                        <td> {{planet.created}} </td>
                        <td> {{planet.climate}} </td>
                        <td>
                            <button class="btn btn-success btn-sm listPlanets__btn" [routerLink]="[i + 1]">More</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
</div>
