<div class="container">
    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-header">
                Name: {{planet?.name}}
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p class="card-body__feature">Diameter: {{planet?.diameter}}</p>
                <p class="card-body__feature">Climate: {{planet?.climate}}</p>
                <div class="card-body__feature">Films:
                    <ul>
                        <li *ngFor="let film of planet?.films; let i = index">
                            <a href="{{film}}">Film {{i + 1}}</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body__feature">Residents:
                    <ul>
                        <li *ngFor="let resident of planet?.residents; let i = index">
                            <a href="{{resident}}">Resident {{i + 1}}</a>
                        </li>
                    </ul>
                </div>
                <p class="card-body__feature">Population: {{planet?.population}}</p>
                <p class="card-body__feature">Diameter: {{planet?.diameter}}</p>
                <footer class="blockquote-footer">Created:<cite title="Source Title">{{planet?.created}}</cite></footer>
              </blockquote>
              <button (click)="goBack()" class="btn btn-lg float-right card__back">Go back</button>
            </div>
          </div>
    </div>
</div>
