.card {
    background: rgba(0,0,0,.3);
    font-size: 2rem;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 10px 1px #FFFFFF;

    .blockquote-footer {
        font-size: 2rem;
        color: #22252a;
    }

    .card-body__feature {
        font-size: 3rem;
    }

    &__back {
        background: #FFFFFF;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 0;
        border: 1px solid #FFFFFF;
        transition: all .3s ease-in-out;
        &:focus,
        &:hover,
        &:active {
            background: #000000;
            color: #FFFFFF;
            border-color: #000000;
        }
    }
}
