.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: rgba(255, 0, 0, 0.17);
    box-shadow: 0px -19px 90px 0px rgba(255, 255, 255, 0.35);

    &__left {
        padding: 1rem 0 0;
        a {
            display: block;
            margin: 2px 0;
            text-decoration: none;
            color: #000000;
            text-shadow: 1px 1px 1px #000000;
            &:first-child {
                color: wheat;
            }

            &:last-child {
                color: whitesmoke;
            }
        }
    }

    &__right {
        padding: 3rem 0 0;
        text-align: right;
        &--copyright {
            text-shadow: 1px 1px 1px #000000;
        }
    }
}
