<!--The content below is only a placeholder and can be replaced.-->

<header-top></header-top>

<main>
    <router-outlet></router-outlet>
</main>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="footer__left">
                    <address>
                        <a href="mailto:lttyminski@gmail.com">lttyminski@gmail.com</a>
                        <a href="tel:+48509757668">+48 509 757 668</a>
                    </address>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="footer__right">
                    <p class="footer__right--copyright">By Łukasz Tymiński &copy; 2018</p>
                </div>
            </div>
        </div>
    </div>
</footer>
