.planetSaveDb {
    &__btn {
        width: 200px;
        margin-top: 2rem;
        font-size: 2rem;
        text-transform: uppercase;
        background: rgba(0,0,0,.5);
        border-radius: 0;
        border: 2px solid #FFFFFF;
        transition: all .3s ease-in-out;
        text-shadow: 1px 1px 1px #000000;
        &:focus,
        &:hover,
        &:active {
            background: rgba(255,255,255,.5);
            color: #000000;
            border-color: transparent;
        }
    }
}
