<section class="tasksPlanets">
    <div class="container">
        <div class="row mt-4">
            <div class="col-12">
                <add-planet></add-planet>
            </div>

            <div class="col-12 col-lg-6">
                <todo-planet></todo-planet>
            </div>

            <div class="col-12 col-lg-6">
                <done-planets></done-planets>

            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 d-inline-flex justify-content-center">
                <div class="planetSaveDb">
                    <button class="planetSaveDb__btn btn btn-primary btn-lg btn-block" (click)="savePlanetsInMdb()">Save</button>
                </div>
            </div>
        </div>
    </div>
</section>
