* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    outline: none;
    &:focus, &:hover, &:active {
        outline: none;
    }
}

html {
    font-size: 62.5%;
}

body {
    font: 300 2rem $lato;
    color: $base;
    background: #040814 url(assets/images/bg.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    &::-webkit-scrollbar {
        width: 5px !important;
    }
    &::-webkit-scrollbar-track {
        background: $white;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(#1f1f1f, 0.5);
        &:hover {
            background-color: #1f1f1f;
        }
    }
}

main {
    margin-top: 10rem;
    padding: 0 0 19rem 0;
    @media screen and (min-width: 992px){
        margin-top: 0;
    }
}

.img-responsive {
    max-width: 100%;
    display: block;
    height: auto;
}

button, input {
    font-size: 1.8rem !important;
    &:focus,
    &:hover,
    &:active {
        box-shadow: none !important;
    }
}

.list-group-item {
    border: none;
}

.mt-4 {
    transition: all .3s ease-in-out;
}

.ngx-pagination {
    .current {
        background: rgba(255,255,255,.3) !important;
    }
    a:hover {
        text-decoration: none;
        background: rgba(255,255,255,.3) !important;
    }
}

@keyframes rotate {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}
