.listPlanets {
    &__row {
        background: rgba(0,0,0,.3);

        th {
            color: #000000;
        }

        td {
            color: #ffc107;
            text-shadow: -1px -1px 16px #fff;
        }
    }

    &__thead {
        th {
            text-shadow: -1px -1px 1px #000000;
        }
    }

    &__btn {
        border-radius: 0;
        background: #ffd79a;
        color: #000000;
        text-shadow: 1px 1px 1px #000000;
        text-transform: uppercase;
        border: 1px solid transparent;
        transition: border .3s ease-in-out;
        &:focus,
        &:hover,
        &:active {
            border: 1px solid #000000;
        }
    }

    &__pagination {
        display: flex;
        justify-content: center;
        align-items: baseline;
        .page-link {
            background: rgba(0,0,0,.3);
            border: none;
            color: #000000;
            text-shadow: -1px -1px 1px #000000;
            transition: all .3s ease-in-out;
            &.active,
            &:focus,
            &:hover,
            &:active {
                background: rgba(255,255,255,.3);
            }
        }
    }
}
