<section class="listPlanets">
    <div class="container">
        <div class="row mt-4">
            <div class="col-12">
                <!-- Search of planet -->
                <h2 class="text-center mt-4">Search for planete by name</h2>
                <list-planets-search></list-planets-search>
                <!-- //Search of planet -->
            </div>
        </div>

        <div class="row mt-4" *ngIf="planetLists">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark listPlanets__thead">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Created</th>
                                <th scope="col">Climat</th>
                                <th scope="col">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let planet of planetLists; let i = index" class="listPlanets__row">
                                <td scope="col"> {{i + 1}}. </td>
                                <td scope="col"> {{planet.name}} </td>
                                <td scope="col"> {{planet.created}} </td>
                                <td scope="col"> {{planet.climate}} </td>
                                <td scope="col">
                                    <button (click)="planet.id" class="btn btn-success btn-sm listPlanets__btn" [routerLink]="[i + 1]">More</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <!-- Navigation pages -->
        <div class="row">
                <div class="col-12">
                    <nav class="listPlanets__pagination" aria-label="Page navigation planets">
                        <ul class="pagination">
                            <li class="page-item" [hidden]="previous == null" *ngFor="let p of [1]; let i = index;">
                                <a class="page-link" (click)="goBackPage(i,$event)"  aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item" *ngFor="let p of pages; let i = index;">
                                <a class="page-link" [ngClass]="{'active': page == i + 1}" (click)="setPage(i, $event)">{{i + 1}}</a>
                            </li>
                            <li class="page-item" *ngFor="let p of [1]; let i = index;">
                                <a class="page-link" (click)="goNextPage(i,$event)" aria-label="Next" [hidden]="next == null">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        <!-- //Navigation pages -->

    </div>
</section>
